{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

  <div class="row">
      <section class="col-2">{% include 'aside.html.twig' %}</section>
      <section class="col-10 ">
          <div class="list-trainer">
              <div class="row row-cols-lg-auto g-3 align-items-center"></div>
             {{ include('Authentication/registration/registerTrainer.html.twig') }}
          </div>
    </section>
  </div>
{% endblock %}